@for $i from 1 through 4 {
  .proj-prev__#{$i} {
    background-color: lighten($colour-menu, $i * 3%);
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: scale(1.05);
      background-color: $colour-menu;
    }
  }
}
// effet widdle
@keyframes headshake {
  25% {
    // entièrement à droite
    transform: translateX($shake-intensity);
  }
  75% {
    // entièrement à gauche
    transform: translateX($shake-intensity * -1);
  }
}

@keyframes dot {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
