@mixin list($num-menu, $num-bg-menu) {
  .list {
    &-#{$num-menu} {
      background-color: map-get($map: $bg-menu, $key: $num-bg-menu);
    }
  }
}

// Police des pages "restaurant" :

@mixin list-font(
  $num-menu,
  $num-font1,
  $num-font2,
  $size-title-font,
  $size-step-font,
  $size-ul-font,
  $color1-title,
  $color2-title,
  $color3-title,
  $color1,
  $color2,
  $color3,
  $color-bar1,
  $color-bar2,
  $color-bar3
) {
  .list {
    &-#{$num-menu} {
      &__header {
        font-family: map-get($map: $font-list, $key: $num-font1);
        font-size: 3rem;
      }
      &__title {
        background: linear-gradient(
          to right,
          map-get($map: $color1-menu__titre, $key: $color1-title) 10%,
          map-get($map: $color2-menu__titre, $key: $color2-title) 60%,
          map-get($map: $color3-menu__titre, $key: $color3-title) 80%
        );
        -webkit-background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
      }

      &__step {
        h4 {
          font-family: map-get($map: $font-list, $key: $num-font2);
          font-size: 1.2rem;
        }
      }
      article {
        ul {
          font-family: map-get($map: $font-list, $key: $num-font2);
          font-size: $size-ul-font;
        }
        //Dans le cas où la couleur des plats sur les menus, ainsi que leurs titres (entrées,plats,desserts), correspondent aux trois couleurs composant le titre du menu (cf."le chic à la française")
        &:nth-of-type(1) {
          ul {
            color: map-get($map: $color1-menu__titre, $key: $color1);
          }
        }
        &:nth-of-type(2) {
          ul {
            color: map-get($map: $color2-menu__titre, $key: $color2);
          }
        }
        &:nth-of-type(3) {
          ul {
            color: map-get($map: $color3-menu__titre, $key: $color3);
          }
        }
        &:nth-of-type(1) {
          h4 {
            color: map-get($map: $color1-menu__titre, $key: $color1);
            &::after {
              color: map-get($map: $color1-menu__titre, $key: $color-bar1);
            }
          }
        }
        &:nth-of-type(2) {
          h4 {
            color: map-get($map: $color2-menu__titre, $key: $color2);
            &::after {
              color: map-get($map: $color2-menu__titre, $key: $color-bar2);
            }
          }
        }
        &:nth-of-type(3) {
          h4 {
            color: map-get($map: $color3-menu__titre, $key: $color3);
            &::after {
              color: map-get($map: $color3-menu__titre, $key: $color-bar3);
            }
          }
        }
      }
      .price {
        font-weight: bold;
      }
      &__footer {
        //le footer ne concerne pour le moment que la carte de "La note enchantée"
        font-family: map-get($map: $font-list, $key: $num-font1);
        font-size: 1.1rem;
      }

      // MEDIA QUERIES ---------------------------------

      @media all and (min-width: 1440px) {
        &__header {
          font-size: $size-title-font * 4.2;
        }
        &__step {
          h4 {
            font-size: $size-step-font * 2.75;
          }
        }
        article {
          ul {
            font-size: 3 * $size-ul-font;
          }
        }
        &__footer {
          font-size: 2rem;
        }
      }

      @media all and (min-width: 1024px) and (max-width: 1439px) {
        &__header {
          font-size: $size-title-font * 2;
        }
        &__step {
          h4 {
            font-size: $size-step-font * 1.75;
          }
        }
        article {
          ul {
            font-size: 1.8 * $size-ul-font;
          }
        }
        &__footer {
          font-size: 2rem;
        }
      }

      @media all and (min-width: 768px) and (max-width: 1023px) {
        &__header {
          font-size: $size-title-font * 1.5;
        }
        &__step {
          h4 {
            font-size: $size-step-font * 1.1;
          }
        }
        article {
          ul {
            font-size: 1.2 * $size-ul-font;
          }
        }
        &__footer {
          font-size: 1.4rem;
        }
      }
      @media all and (max-width: 767px) {
        &__header {
          font-size: $size-title-font/1;
        }
        article {
          ul {
            font-size: 1.5 * $size-ul-font;
          }
        }
      }
    }
  }
}
