$colour-primary: #15dea5;
$colour-secondary: #fdfdfd;
$colour-accent: yellow;
$colour-white: rgb(0, 0, 0);
$colour-invalid: #db464b;

$heading-shadow-size: 0.55rem;
$layout-margin: 6rem;
$grid-gutter: $layout-margin * 0.25;
